
@{
    ViewBag.Title = "BookingForm";
}

<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(~/Content/ThemeMaterial/images/cover_bg_1.jpg);">
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="tabulation animate-box">
                            Nav tabs
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Contact us</a>
                                </li>
                            </ul>
                            Tab panes
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="flights">
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="from">Name:</label>
                                                <input type="text" class="form-control" id="from-place" placeholder="Name" />
                                            </div>
                                        </div>

                                     
                                        <div class="col-sm-12 mt">
                                            <section>
                                                <label for="class">Enter your qury:</label>
                                                <textarea rows="5" cols="48">Enter your qury</textarea>
                                            </section>
                                        </div>

                                        <div class="col-sm-12 mt">
                                            <section>
                                                <label for="class">Email:</label>
                                                <input type="email" class="form-control" placeholder="Email" />
                                            </section>
                                        </div>


                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="Submit your qury">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="desc2 animate-box">
                        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
                            @*<p>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FreeHTML5.co</a></p>*@
                            <h2>Enter your esssential query</h2>
                            <h3>Our team wait for your good experiance</h3>
                            <span class="price">India's Best Travel Agency</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


