<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="~/Content/ThemeMaterial/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/cs-select.css">
    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/cs-skin-border.css">

    <link rel="stylesheet" href="~/Content/ThemeMaterial/css/style.css">



    <!-- jQuery -->
    <script src="~/Content/ThemeMaterial/js/jquery.min.js"></script>

    <!-- Modernizr JS -->
    <script src="~/Content/ThemeMaterial/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <header id="fh5co-header-section" class="sticky-banner">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                        <h1 id="fh5co-logo"><a href="index.html"><i class="icon-airplane"></i>Travel</a></h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("BookingForm", "Contact")">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            @RenderBody();

            <footer>
                <div id="footer">
                    <div class="container">
                        <div class="row row-bottom-padded-md">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <p class="fh5co-social-icons">
                                        <a href="#"><i class="icon-twitter2"></i></a>
                                        <a href="#"><i class="icon-facebook2"></i></a>
                                        <a href="#"><i class="icon-instagram"></i></a>
                                        <a href="#"><i class="icon-dribbble2"></i></a>
                                        <a href="#"><i class="icon-youtube"></i></a>
                                    </p>
                                    <p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->
    <!-- jQuery Easing -->
    <script src="~/Content/ThemeMaterial/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/ThemeMaterial/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/ThemeMaterial/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/ThemeMaterial/js/sticky.js"></script>

    <!-- Stellar -->
    <script src="~/Content/ThemeMaterial/js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="~/Content/ThemeMaterial/js/hoverIntent.js"></script>
    <script src="~/Content/ThemeMaterial/js/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/ThemeMaterial/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/ThemeMaterial/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/ThemeMaterial/js/bootstrap-datepicker.min.js"></script>
    <!-- CS Select -->
    <script src="~/Content/ThemeMaterial/js/classie.js"></script>
    <script src="~/Content/ThemeMaterial/js/selectFx.js"></script>

    <!-- Main JS -->
    <script src="~/Content/ThemeMaterial/js/main.js"></script>
</body>
</html>